

<div class="container-fluid">
    <div class="col-md-6 col-md-offset-3">
        <div class ="content-header">    
            <h1> Are you getting the most out of your website ? </h1>
            <h4>We’ve compiled a list of reasearch backed key aspects which could make or break your website.
            </h4>
            <h4>By submitting you’ll get a short fully personalized report. 
            One of our experts will personally check key aspects of your website and let you know what can be done right now
            to make sure that your website is optimized to turn visitors into paying customers.
            </h4>
        </div>    
    </div>
</div>

<div class="col-md-6 col-md-offset-2">
        <h1> You could be shooting your business in the foot. Here’s why:  </h1>

    <div class="stats ">
      <h1> 59% </h1>
      <h2>of smartphone users will likely never return to your website if it’s not easy to read on mobile <br> 
    You could possibly be missing out on literally thousands of potential clients. </h2>
    </div>
    <div class="stats">
      <h1> 40%  </h1>
      <h2> are abandoning your site if it takes longer than 3 secconds to load </h2>
      <h2> A few seconds could cost you potential business </h2>

    </div>
    
    <div class="stats">
      <h1> 7 <br> seconds </h1>
      <h2> Most of your website visitors are likely will leave your website in the first 10 to 20 seconds if you can’t pass this test.  </h2>
      <h2> A few seconds could cost you potential business </h2>

    </div>
    
</div>

<div class="col-md-12 content">

 <div class = col-md-3>
   
   <div class="left">
      <i class="fa fa-laptop fa-5x " aria-hidden="true"></i>
    </div>
   
  </div> 
      <div class = "col-md-6 inner ">
              <!-- testimonial one -->
              <div class="animation-element slide-left testimonial">
                  <div class="header">
                    <div class="right">
                      <h3>Explanation 1</h3>
                      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
                    </div>
                </div>
            </div>
          </div>
    </div>
    
<div class="col-md-12 content">

 <div class = col-md-3>
   
   <div class="left">
      <i class="fa  fa-line-chart fa-5x " aria-hidden="true"></i>
    </div>
   
  </div> 
      <div class = "col-md-6 inner ">
              <!-- testimonial one -->
              <div class="animation-element slide-left testimonial">
                  <div class="header">
                    <div class="right">
                      <h3>Explanation 1</h3>
                      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
                    </div>
                </div>
            </div>
          </div>
    </div> 
<div class="col-md-12 content">

 <div class = col-md-3>
   
   <div class="left">
      <i class="fa fa-usd fa-5x " aria-hidden="true"></i>
    </div>
   
  </div> 
      <div class = "col-md-6 inner">
              <!-- testimonial one -->
              <div class="animation-element slide-left testimonial">
                  <div class="header">
                    <div class="right">
                      <h3>Explanation 1</h3>
                      <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</h4>
                    </div>
                </div>
            </div>
          </div>
    </div> 
    