
<!--Header-->
<div class ="container">      
  <div class="row">
      <div class="col-md-10 col-md-offset-1">
          <div class ="content-header">    
              <h3> Are you getting the most out of your website ? </h3>
              <h4>We’ve compiled a list of reasearch backed key aspects which could make or break your website.<br>  One of our experts will personally check key aspects of your website and let you know what can be done <b>right now</b>
              to make sure that your website is optimized to turn visitors into paying customers.
              </h4>
              <h3 class ="subtitle"> You could be shooting your business in the foot. Here’s why: </h3>
          </div>   
      </div>    
  </div>
</div>

<!--Mobile --> 
<div class ="container">
  <div class="col-md-12">
    <div class="stats mobile">
        <h1> 59% </h1>
        <h2>of smartphone users will likely <i>never</i> return to your website if it’s not easy to read on mobile </h2>
    </div>
  </div>
</div>  
      <!-- testimonial one -->
<div class ="container first">      
  <div class="row">
      <div class = "col-md-6 icon">
          <div class="left">
            <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
          </div>
      </div> 
    
      <div class= "col-md-6 text">      
        <div class="container-fluid">
          <div class="animation-element slide-left testimonial">
            <div class="header">
              <div class="right">
                <h3>Is your website easy to read on mobile? </h3>
                <h4>By 2018 almost 80% of internet usage will be mobile. You could possibly be missing out on literally thousands of potential clients.
                In this report you'll see if your website is easy to read on mobile and what you can do to change that. 
                </h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>   
<!--Speed --> 
<div class ="container">
  <div class="col-md-12">
      <div class="stats">
        <h1> 40%  </h1>
        <h2> are abandoning your site if it takes longer than 3 secconds to load </h2>
      </div>
    </div>  
</div>
<div class ="container first">      
  <div class="row">
      <div class = "col-md-6 icon">
          <div class="left">
            <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
          </div>
      </div> 
      <div class= "col-md-6 text">      
        <div class="container-fluid">
          
          <div class="animation-element slide-left testimonial">
            <div class="header">
              <div class="right">
                <h3>Is your website fast enough ? </h3>
                <h4>If your website is taking longer than 3 secconds to load, as much as 40% of your visitors will leave your 
                  page no matter how great your product or service is.
                </h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
  
<!--Attention --> 
<div class="container">
  <div class="col-md-12">
    <div class="stats seconds">
      <h1> 7 <br> seconds </h1>
      <h2> Most of your website visitors are likely will leave your website in the first 10 to 20 seconds if you can’t pass this test.  </h2>
    </div>
  </div>
</div>      
          <!-- testimonial one -->
<div class ="container first">  
  <div class="row">
      <div class = "col-md-6 icon">
          <div class="left">
            <i class="fa fa-usd fa-5x" aria-hidden="true"></i>
          </div>
      </div> 
      <div class= "col-md-6 text">      
        <div class="container-fluid">
          
          <div class="animation-element slide-left testimonial">
            <div class="header">
              <div class="right">
                <h3>What does your website communicate in 7 seconds?</h3>
                <h4>The human attention span is around 8 seconds. What you communicate and how you do it in those first few secconds
            is vital to converting visitors into paying customers.
                </h4>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
