<footer class="footer">
  <nav class="navbar navbar-inverse">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <p>© <%= Time.current.year %> All Rights with ATCmedia</p>
      </div>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav nav-pills">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</footer>


<!--

  <nav class="navbar navbar-inverse navbar-fixed-bottom">  <div class="container">
      <div class="col-md-6">
        <p>© <%= Time.current.year %> All Rights with ATCmedia</p>
      </div>
      <div class"collapse navbar-collapse">
      <div class="col-md-6">
        <ul class=" bottom_ul">
          <li><a href="#">atcmedia.com</a></li>
          <li><a href="#">About us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Faq's</a></li>
          <li><a href="#">Contact us</a></li>
          <li><a href="#">Site Map</a></li>
        </ul>
      </div>
      </div>
  </nav>
