
    <div class="container-fluid landing">
      <section id = "section02 " class ="demo">
  
            <div class ="jumbotron">
              
              <div class="col-md-8 col-md-offset-2">
                
                  <% flash.each do |key, value| %>
                      <%= content_tag :div, value, class: "alert alert-#{key}" %>
                    <%end%>
                  <h3>Free <span class="italic">Custom</span>  Report</h3>     
                  <h1>How to Increase Your Online <h1 id= ""> Sales</h1></h1>    
                  <h2> Are you getting the most out of your website? <br>Get a free <span class="italic">custom</span> conversion audit for your website  </h2>
                  <p> </p> 

              </div>
              
            </div>
            
            <div class="col-md-12">  
              <%= render "contacts/form"%>
               <!-- More Button -->
            <section id="section02" class="demo">
            	<a href="#section03"><span></span>More</a>
            </section>
         </div>    
          
    </section> 
</div>    
    