
    <div class="container-fluid landing">
      <section id = "section02 " class ="demo">
  
            <div class ="jumbotron">
              
              <div class="col-md-8 col-md-offset-2">
                
                  <% flash.each do |key, value| %>
                      <%= content_tag :div, value, class: "alert alert-#{key}" %>
                    <%end%> 
                  <h1>Turn visitors into paying customers by avoiding these 'rookie' mistakes </h1>    
                  <h2> Are you getting the most out of your website? Get a free <span class="underline">custom</span> conversion audit on your website  </h2>
                  <p> </p> 

              </div>
              
            </div>
            
            <div class="col-md-8 col-md-offset-2">  
              <%= render "contacts/form"%>
               <!-- More Button -->
            <section id="section02" class="demo">
            	<a href="#section03"><span></span>More</a>
            </section>
         </div>    
          
    </section> 
</div>    
    