
<div class="container-fluid bg_image">
  
      <section id = "section02 " class ="demo">
        <div class ="jumbotron">
          
          <div class="col-md-6 col-md-offset-3">
            
              <% flash.each do |key, value| %>
                  <%= content_tag :div, value, class: "alert alert-#{key}" %>
                <%end%> 
              <h1>Get more <h1 id="word">Sales</h1>
              <p>Get a Free Custom Report!</p>
              
          </div>
          
        </div>
        
        <div class="col-md-6 col-md-offset-3">  
              <%= render "contacts/form"%>
               <!-- More Button -->
            <section id="section02" class="demo">
            	<a href="#section03"><span></span>More</a>
            </section>
         </div>    
          
    </section> 