<div class ="thankyou content container-fluid">
<div class="container"> 
  <div class="col-md-6 col-md-offset-3">
    <% flash.each do |key, value| %>
      <%= content_tag :div,value, class: "alert alert-#{key}" %>
    <%end%> 
  </div>
</div>
<div class="container-fluid">      
  <div class="row"> 
    <div class="col-md-4 col-md-offset-4">    
      <div class="notify error">
        <h1>Ooops!</h1>
          <div class="error-icon">
            <%= image_tag("close.png", size: "132x132")  %>
          </div>  
        <h4>Something went wrong and we didn't receive your message.</h4>  
        
        <h4>Make sure you entered a valid email address and websiite address ie. http://mywebsite.com</h4>
          <div class="container-fluid cta2">
            <div class ="row">
            <btn class="btn btn-primary btn-lg submission2" data-toggle="modal" data-target="#myModal">Try again</btn>
            <button type="button" class="btn btn-default btn-lg back"><%= link_to 'Go Back', root_path %></button>
            </div>
          </div>
       </div>
      </div> 
    </div>   
  </div>     
</div>


<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Free Website Checkup</h4>
      </div>
      <div class="modal-body">
        <%= render "contacts/form2"%>
      </div>
      <div class="modal-footer">
        
      </div>
    </div>

  </div>
</div>
