<div class ="faq container-fluid">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class ="text-center">Disclaimer and FAQ</h1>
      </div>  
    </div>
    <div class ="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="well">
          <ol>
            <h3><li>What this report is:</li></h3>
            <p class="text-left text-muted">A simple yet comprehensive free review of your website, including techniques you can implement 
            right now to make sure you are not missing out on potential paying customers. </p>
            <h3><li>What this report is not:</li></h3>
              <ul class ="list-group">
                <li class="list-group-item text-muted">a review of your copywriting. We know our strenghts and copy is not one of them.  </li>
                <li class="list-group-item text-muted">a review of your product or service. Conversion (turning visitors into customers) can be influenced by a lot of factors – 
                including the product or service you are offering or if you are offering it to the right type of audience.</li>
                <li class="list-group-item text-muted">a gurantee that customers will come flying
                through your door once you implement what we suggest. Though they could be with some good marketing.</li>
              </ul>  
            <h3><li>How long does it take until I receive my report?</li></h3>
            <p class="text-left text-muted">Normally you should receive your report in 24 hours, however it may take up to 48 hours.</p>

            <h3><li>Any other questions? Drop us an <%= mail_to "me@domain.com", 'email!' %> </li></h3>
          </ol>
        </div> 
      </div>
    </div>  
 

</div>
<%= render "layouts/footer"%> 