<div class ="thankyou content">
<div class="container"> 
  <div class="col-md-6 col-md-offset-3">
    <% flash.each do |key, value| %>
      <%= content_tag :div,value, class: "alert alert-#{key}" %>
    <%end%> 
  </div>
</div>
    
<div class="notify check">
  <h1>Thank you!</h1>
    <div class="check-icon">
      <span class="fa-stack fa-2x">
        <i class="fa fa-circle  fa-stack-2x"></i>
        <i class="fa fa-check fa-stack-1x fa-inverse"></i>
      </span>
    </div>  
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Architecto dolores sequi delectus vitae fugiat obcaecati voluptates, 
  fuga, provident voluptatem voluptatibus consectetur, dolorem dicta eveniet dolor. 
  Commodi nihil, inventore sequi consequatur.</h4>  
  
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Earum architecto id temporibus tempore accusantium voluptate similique vel hic officia rerum! 
  Rem ex quia consequatur nesciunt, 
  temporibus numquam rerum mollitia error.</h4>
  <button type="button" class="btn btn-success btn-lg back"><%= link_to 'Go Back', root_path %></button>

 </div>
 <%= render "layouts/footer"%>
</div>

