<div class="row">
    <div class="col-md-8 col-md-offset-2"> 
        <table class="table table-striped">
          <tr>
            <th>Name</th>
            <th>Email</th> 
            <th>URL</th>
          </tr>
          <% @contacts.each do |contact| %>
          <tr>
            <td><%= contact.name%></td>
            <td><%= contact.email %></td> 
            <td><%= contact.url %></td>
          </tr>
            <% end %>  
        </table>
    </div>        
</div>