/*animation element*/

.animation-element {
  opacity: 0;
  position: relative;
}
/*animation element sliding left*/

.animation-element.slide-left {
  opacity: 0;
  -moz-transition: all 500ms linear;
  -webkit-transition: all 500ms linear;
  -o-transition: all 500ms linear;
  transition: all 500ms linear;
  -moz-transform: translate3d(-100px, 0px, 0px);
  -webkit-transform: translate3d(-100px, 0px, 0px);
  -o-transform: translate(-100px, 0px);
  -ms-transform: translate(-100px, 0px);
  transform: translate3d(-100px, 0px, 0px);
}

.animation-element.slide-left.in-view {
  opacity: 1;
  -moz-transform: translate3d(0px, 0px, 0px);
  -webkit-transform: translate3d(0px, 0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  transform: translate3d(0px, 0px, 0px);
}
/*animation slide left styled for testimonials*/

.animation-element.slide-left.testimonial {
  float: right;
  width: 100%;
  margin: 0% 1.5% 3% 1.5%;
  background: #F5F5F5;
  padding: 5px;
box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
}
.animation-element.slide-left.testimonial:hover,
.animation-element.slide-left.testimonial:active{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
}

.animation-element.slide-left.testimonial:nth-of-type(odd) {
  width: 100%;
  margin: 4% 0% 3.0% 0%;
}

.animation-element.slide-left.testimonial:nth-of-type(even) {
  width: 100%;
  margin: 4% 0% 3.0% 1.5%;
}

.animation-element.slide-left.testimonial .header{
  float: left;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px 20px 0 20px;

}
.animation-element.slide-left.testimonial .left{
  float: left;
  margin-right: 15px;
  display: inline-block;
  margin-right: -10em;
  display:none;
}
.animation-element.slide-left.testimonial .right{
  float: left;
  display: inline-block;
  margin-left: 1em;
  
}

.animation-element.slide-left.testimonial img {
  width: 65px;
  height: 65px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px rgba(51, 51, 51, 0.5);
}

.animation-element.slide-left.testimonial h3 {
  margin: 16px 0px 5px 0px;
  font-size:32px;
  font-weight:bold;
  color: #2c3e50;

}

.animation-element.slide-left.testimonial h4 {
  line-height:48px;
  font-size:25px;
  
}

.animation-element.slide-left.testimonial .content {
  float: left;
  width:100%;
  margin-bottom: 10px;
}

.animation-element.slide-left.testimonial .rating{}

.animation-element.slide-left.testimonial i {
  color: #7e85bc;
  margin-right: 5px;
}



/*media queries for small devices*/
@media screen and (max-width: 678px){
  /*testimonials*/
  .animation-element.slide-left.testimonial,
  .animation-element.slide-left.testimonial:nth-of-type(odd),
  .animation-element.slide-left.testimonial:nth-of-type(even){
    width: 100%;
    margin: 0px 0px 20px 0px;
    margin-top: 17%;

  }
  .animation-element.slide-left.testimonial .right,
  .animation-element.slide-left.testimonial .left,
  .animation-element.slide-left.testimonial .content,
  .animation-element.slide-left.testimonial .rating{
    text-align: center;
    float: none;
  }
  .animation-element.slide-left.testimonial img{
    width: 85px;
    height: 85px;
    margin-bottom: 5px;
  }
  
}

@media only screen and (min-width : 640px) {
  .animation-element.slide-left.testimonial h4{
    font-size: 19px;
    line-height: 39px;
  }
  .animation-element.slide-left.testimonial h1{
    font-size: 28px;
    line-height: 39px;
  }
}
@media only screen and (min-width : 1200px){
  .animation-element.slide-left.testimonial:nth-of-type(even), .animation-element.slide-left.testimonial:nth-of-type(odd){
    width: 100%;
  }
  .animation-element.slide-left.testimonial h3{
    font-size: 36px;
    line-height: 1.2;
  }
  .animation-element.slide-left.testimonial h4{
    font-size: 20px;
    line-height: 1.6;
  }
}

@media only screen and (min-width : 1900px) {
   .animation-element.slide-left.testimonial:nth-of-type(even), .animation-element.slide-left.testimonial:nth-of-type(odd){
    width: 80%;
    margin: 4% 30% 3% 0%;
  }
}