@import "bootstrap-sprockets";
@import "bootstrap";

*{
    font-family: 'Open Sans', sans-serif;
}
html, body, .container-fluid{
	height:100%;
}

.landing{
background: #1A2980;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #26D0CE, #1A2980);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #26D0CE, #1A2980); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


}

.form{
   background-color:#333;   
   display:inline-block;
}
.text{
   background-color:#444;  

   display:inline-block;
}
 a:visited{
 	text-decoration:none;
 }
a:focus{
 	text-decoration:none;
 	color:#fff !important;
 }

label {
	color:#fff;
} 
.underline{
	text-decoration:underline;
}
 
/*Header*/
.jumbotron{
  margin-top:11em;
  background-color: transparent !important;
   text-align: center !important;
}

.jumbotron h1,p{
  text-align: center;
  color:#fff;
}
.jumbotron h1{
  display:inline;
  color:#fff !important;
  font-size: 5em;
 

}
.jumbotron p{
  margin: 2em 0 2em 0 !important;
}

#word{
  margin-left: 5px;
}

.bg_image{
   background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Form*/

.form-control{
background-color: transparent !important;
color: #fff !important;
text-align: center;
border:none !important;
border-bottom:  1px solid #fff !important;
-webkit-box-shadow: none;
border-radius: 0px !important;

}

form{
	margin-top: 3em;
}

.form-control:focus{
	-webkit-box-shadow: none !important;
   box-shadow: none !important; 
}


input[type = 'text']{
     border-top: 0;
     border-right: 0;
     border-left: 0;

     -webkit-box-shadow: none;
     box-shadow: none;
}
input[type = 'email']{
     border-top: 0;
     border-right: 0;
     border-left: 0;

     -webkit-box-shadow: none;
     box-shadow: none;
}

.btn-success {
	  background-color: rgba(92, 184, 92, 0.03) !important;
    border-color: #fff !important;
    margin-top: 3em;
    font-size: 22px !important;
    font-weight: bold;
    text-transform:uppercase;
}

.btn-success:focus, .btn-success.focus {
	background-color: #fff !important;
	 border-color: #fff !important;
	 color: #000 !important;
}

.btn-success:hover{
		background-color: #fff !important;
	 border-color: #fff !important;
	 color: #000 !important;
}

/*Buttons*/
.btn {
      width: 100%;
}

#section02{
  width:100%;
}
.demo a {
	position: absolute;
	bottom: -10em;
	left: 47%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Josefin Sans', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover, a:focus, a:visited {
	opacity: .5;
	text-decoration: none;
}



#section01 a {
	padding-top: 60px;
}
#section01 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}



#section02 a {
	padding-top: 60px;
}
#section02 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#section02 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

/*Content*/

#section03{
	margin: 5em;
}

/*Footer*/
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}