@import "bootstrap-sprockets";
@import "bootstrap";

*{
    font-family: 'Open Sans', sans-serif;
}
/*Header*/
.jumbotron{
  margin-top:12em;
  background-color: transparent !important;
}

.jumbotron h1,p{
  text-align: center;
  
}
.jumbotron h1{
  display:inline;
  margin-left: 220px;
}

#word{
  margin-left: 8px;
}

.bg_image{
   background: url('2.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/*Buttons*/
.btn {
      width: 100%;
}