@import "bootstrap-sprockets";
@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,800');

*{
    font-family: 'Open Sans', sans-serif;
}
html, body, .landing{
	height:100%;
}

.wrapper {
	min-height:100%;
	position:relative;
}

.landing{

background: #de6161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(40, 89, 235, 0.75), #de6161), url('3.jpg') no-repeat center center fixed; ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
margin-bottom: 2em;

}

.form{
   background-color:#333;   
   display:inline-block;
}

 a:visited{
 	text-decoration:none;
 }
a:focus{
 	text-decoration:none!important;
 	color:#fff !important;
 }

.landing label {
	color:#fff;
} 
.italic{
	font-style: italic;
	font-weight:bold;
}
 
/*Header*/
.jumbotron{
  margin-top:11em;
  background-color: transparent !important;
   text-align: center !important;
}

.jumbotron h1,p{
  text-align: center;
  color:#fff;
}

.jumbotron h2 {
   text-align: center;
  color:#fff !important;
}
.jumbotron h1{
  display:inline;
  color:#fff !important;
  text-transform: uppercase;

}
.jumbotron p{
  margin: 2em 0 2em 0 !important;
}
.jumbotron h3 {
    text-transform: uppercase;
    font-weight: 800;
    color:#fff;
}
#word{
  margin-left: 5px;
}

.bg_image{
   background:  linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('4.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/*Form*/

.transparent{
background-color: transparent !important;
color: #fff !important;
text-align: center;
border:none !important;
border-bottom:  1px solid #fff !important;
-webkit-box-shadow: none;
border-radius: 0px !important;
box-shadow:none !important;

}

form{
	margin-top: 3em;
}

.transparent.form-control:focus{
	-webkit-box-shadow: none !important;
   box-shadow: none !important; 
}


.transparent input[type = 'text']{
     border-top: 0;
     border-right: 0;
     border-left: 0;

     -webkit-box-shadow: none;
     box-shadow: none;
}
.transparent input[type = 'email']{
     border-top: 0;
     border-right: 0;
     border-left: 0;

     -webkit-box-shadow: none;
     box-shadow: none;
}


/*Form Placeholder*/
.transparent::-webkit-input-placeholder { /* Chrome */
  color: #fff !important;
  opacity: 0.75;

}
::-ms-input-placeholder { /* IE 10+ */
  color: #fff !important;
  opacity: 0.75;

}
::-moz-placeholder { /* Firefox 19+ */
  color: #fff !important;
    opacity: 0.75;
}
:-moz-placeholder { /* Firefox 4 - 18 */
  color: #fff !important;
  opacity: 0.75;
}
.submission {
	  background-color: rgba(92, 184, 92, 0.03) !important;
    border-color: #fff !important;
    margin-top: 2.5em;
    font-weight: bold;
    text-transform:uppercase;
    border-radius: 50px !important;
}

.submission:focus, .submission.focus {
	background-color: #fff !important;
	 border-color: #fff !important;
	 color: #000 !important;
}

.submission:hover{
		background-color: #fff !important;
	 border-color: #fff !important;
	 color: #000 !important;
}

.cta {
	  background-color: transparent !important;
    border-color: #de6161 !important;
    margin-bottom: 1em !important;
    color: #de6161 !important;
    font-size: 22px !important;
    font-weight: bold;
    text-transform:uppercase;
}

.cta:focus, .cta.focus {
	background-color: #2657eb !important;
	 border-color: #2657eb !important;
	 color: #fff !important;
}

.cta:hover{
		background-color: #de6161 !important;
	 border-color: #2657eb !important;
	 color: #fff !important;
}

.cta2{
    margin-bottom: 4em;
    margin-top: 4em;
    
}


.submission2{
  text-transform: uppercase;
  width:100%;
  background-color:transparent !important;
  color:#000 !important;
  border-radius:50px !important;
}
.submission2:hover{
  box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.25);
  background-color: #2c3e50 !important;
  color:#fff !important;
}


.back {
  text-decoration:none!important;
  text-transform: uppercase;
}
.back a{
  text-decoration:none!important;
  color:#000 !important;
}
.back:hover a{
  text-decoration:none!important;
}
/*Modal Contact Form Pop-up*/
.modal-footer{
  border:0 !important;
}
#myModal{
  margin-top: 10em;
}

#myModal .submission2 {
    margin-bottom: 1em;
    margin-top: 1em;
    text-transform: uppercase;
    width: 100%;
}
.modal-header {
  text-align: center;
  text-transform: capitalize;
}
/*Buttons*/
.btn {
}

#section02{
  width:100%;
}
.demo a {
	position: absolute;
	bottom: -10em;
	left: 47%;
	z-index: 2;
	display: inline-block;
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
	color: #fff;
	font : normal 400 20px/1 'Open Sans';
	letter-spacing: .1em;
	text-decoration: none;
	transition: opacity .3s;
}
.demo a:hover, a:focus, a:visited {
	opacity: .5;
	text-decoration: none;
}



#section01 a {
	padding-top: 60px;
}
#section01 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 24px;
	height: 24px;
	margin-left: -12px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}



#section02 a {
	padding-top: 60px;
}
#section02 a span {
	position: absolute;
	top: 0;
	left: 50%;
	width: 46px;
	height: 46px;
	margin-left: -23px;
	border: 1px solid #fff;
	border-radius: 100%;
	box-sizing: border-box;
}
#section02 a span::after {
	position: absolute;
	top: 50%;
	left: 50%;
	content: '';
	width: 16px;
	height: 16px;
	margin: -12px 0 0 -8px;
	border-left: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	box-sizing: border-box;
}

/*Content*/

.subtitle{
    margin-top: 2em;
    line-height: 48px;
}

.content-header h3{
    font-size: 32px;
    font-weight: normal;
    text-transform: uppercase;
    color: #2c3e50;
    text-align:center;
}
.content-header h4{
    line-height: 48px;
    font-size: 25px;
}

.content{
    margin-left:-3%;
}
.left {
  color: #e74c3c;
}
.inner{
    margin-left:7em;
}

.bordered {
  border-bottom: 1px solid #ecf0f1;
}
/*
.stats{
    text-align: center;
    border-radius: 5%;
    border: 1px solid transparent;
    margin-left: 39%;
    /* background: #2c3e50; 
    box-shadow: 0 3px 28px 0 rgba(0,0,0,0.18);
    color: #2c3e50;
    font-weight: bold;
    margin-top: 26%;
    margin-bottom: 0%;
    padding: 20px 20px 0 20px;
}
.stats h1 {
  font-size: 15em;
  font-weight: bold;
}

.stats h2 {
  font-size: 25px;
  line-height: 48px;
  text-align: left;
  padding-left: 1em;
}
.seconds h1{
  font-size: 7em;
}
.grey{
  background-color:  #ecf0f1;
}
*/

.notify .back{
  width: 45%;
  
}

.notify .submission2{
  float: right;
  width: 45%;
}

/*Footer*/

.thankyou .footer{
	width:100%;
	height:40px;
	position:absolute;
	bottom:0;
	left:0;
}
 
.footer p, a{
   color:#fff;
 }
.navbar {
    margin-bottom: 0px !important;
    border-radius:0px !important;
} 

 
ul{
    list-style: none !important;
}
/*Font Awesome*/

.fa-search{
  -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
} 

.bleu{
  color: #2c3e50!important;
}

 
/* Inner */

.screen{
  display: inline;
}
.phone{
  display: inline;
}

.show-me {
  display:inline;
}


 /* Small Devices, Mobile phones*/
   @media only screen and (min-width : 320px) {
       .show-me{
         display:none!important;
       }  
      .jumbotron h1 {
        font-size: 40px !important;        	
        line-height: 1.1;
        font-weight: bold;
      }
      .phone{
        font-size: 20px;
        display: block;
        margin-top: 1em;
        font-weight: normal;
      }
      .screen{
        display:none;
      }
      .jumbotron h2 {
        font-size: 14px;
        line-height: 1.6;
      }
      .jumbotron{
          margin-top: 0;
          margin-bottom: 0 !important;
        }
        
        .jumbotron h3 {
          font-size: 14px;
          font-weight: normal;
          line-height: 1.6;
        }
      .submission {
        	font-size: 14px !important;
        	margin-top: 1em;
        	font-size: 14px !important;
        	width: 100%;
        } 
        .demo a {
          position: relative;
          bottom: -3.5em;
          left: 50%;
          font-size: 14px;
        }
        form {
          margin-top: 0;
        }
  
        .content-header h3{
          font-size: 30px;
          line-height: 1.1;
          text-transform: capitalize;
        }   
        .content-header h4{
          line-height: 24px;
          font-size: 14px;
        }
        .stats{
          display:none;
        }

        .left {
          position: relative;
          padding-top: 2em;
          z-index: 1;
          font-size: 1em;
          margin: 0 30% 0 30%;
          border-bottom: 1px solid #dad5d5;
          width: 111px;
        }
        .demo p {
          display: none;
        }
   }
   @media only screen and (min-width : 400px) {
     .jumbotron {
        margin-top: 3em;
     }
     .demo p {
        display: initial;
     }
     .demo a {
        left: 44%;
        bottom: -6em;
     }
   }
 /* Medium Devices, Desktops */
    @media only screen and (min-width : 640px) {
        .screen{
          display: initial;
        }
        .phone{
          display: initial;
          font-size: 36px;
          font-weight: bold;
          line-height: 48px;
        }
        .demo a{
          left: 48%;
        }
        
        .jumbotron{
          margin-top:0;
        }
        
        .jumbotron h1 {
        	font-size:36px !important;
        	font-weight:bold;
        	line-height:48px;
        }
        
        
        .jumbotron h2{
          margin-top: 25px;
          font-size:19px;
          line-height:23px;
        }
        
        .jumbotron h3 {
          font-size:19px;
        }    

        .submission {
        	font-size:18px !important;
        	margin-top: 3em;
        }
        form {
          margin-top: 0em;
        }
        
        .content-header{
          margin: 0 2em 0 2em;
        }
        .content-header h3{
          font-size: 28px;
          line-height: 48px;
        }   
        .content-header h4{
          line-height: 36px;
          font-size: 17px;
        }
        
        .stats h1 {
            font-size: 6em;
        }
        .stats {
          margin-top: 4em;
          margin-left: 20%;
          width: 60%;
        }
        .stats h2 {
          font-size: 19px;
          line-height: 39px;
        }
        .seconds h1 {
          font-size: 5em;
        }
        .first{
          margin-top: 0em;
          width:100% !important;
        } 
        .left {
          z-index: 1;
          font-size: 1em;
          margin-left: 43%;
          border-bottom: 0;
        }
    }
    @media only screen and (min-width : 760px) {
     
      .icon{
        padding-top:1em;
      }
      
    }
   
    @media only screen and (min-width : 1000px) {
         .left {
          display:none;
        }
        .show-me {
          display:inline!important;
        }
        .icon{
          padding:0!important;
        }
        .jumbotron h1{
           font-size: 36px !important;
        }
        .jumbotron h3 {
          line-height: 16px;
        }
        .jumbotron h2 {
          font-size: 16px;
          line-height: 33px;
        }
        .jumbotron h2{
          margin-bottom:33px;
        }
        .jumbotron{
          margin-top: 5em;
        }
        
        .stats{
          margin-left: 25%;
          width: 50%;
        }
        /*
        .left {
          padding-left: 0;
          font-size: 2em;
          margin-top: 0px;
          margin: 0 0 0 23%;
        }*/
        
        .demo a{
          position: absolute;
          left: 48.5%;
          bottom: -12em;
        }
        .demo p {
          margin-left: 0;
        }
    }
    /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1200px) {
        .jumbotron{
          margin-top:2em;
        }
        .jumbotron h1 {
        	font-size:36px !important ;
        	line-height:35px;
        }
       
         .demo a{
          bottom: -12em;
        }
        
        .jumbotron h3{
          font-size: 20px;
          line-height:52px;
          margin-bottom:0px;

        }
        .jumbotron h2{
          font-size: 20px !important; 
          margin-top: 20px;
          line-height:25px;
          margin-bottom: 9px;
        }
        .submission {
        	margin-top: 2em;
        }
        
        .content-header h3 {
          font-size: 36px;
        }
        .subtitle{
          margin-top: 2em;
        }
        .content-header h4 {
          font-size: 24px;
          line-height: 1.6;
          margin-bottom: 2em;
          margin-top: 2em;
          margin-bottom: 2em;
        }
        .content-header {
          width: 80%;
          margin-left: 10%;
          margin-bottom: 4em;
        }
        .seconds h1 {
          font-size: 7em !important;
        }
        .stats {
          margin-top: 4em;
          margin-bottom: 4em;
        }
        
        .stats h1 {
          font-size: 10em;
        }
        .stats h2 {
          font-size: 24px;
          line-height: 1.6;
        }
        .first{
            width:100% !important;
        } 
        .text{
          padding-top: 115px;
        }
        
    }
    
     /* Large Devices, Wide Screens */
    @media only screen and (min-width : 1300px) {
        .jumbotron{
          margin-top: 0em;
        }
        
        .jumbotron h1 {
        	font-size: 37px !important ;
        	line-height:48px;
        }
        .phone {
        	font-size: 37px;
        	line-height:48px;
        }
        .jumbotron h2{
          font-size: 17px !important;
          margin-top: 24px;
          margin-bottom:7px;
        }
        
        .jumbotron h3{
          font-size: 17px;
          line-height:41px;
          margin-bottom:5px;
        }
        .submission {
        	margin-top: 1em;
        }
        
        form{
            margin-top:2em;
        }
        
    }
    
     
    /*Huge Devices*/
      @media only screen and (min-width : 1900px)   {
        .jumbotron h1 {
          font-size: 54px !important;
         line-height: 56px;
        }
        
        .phone{
          font-size: 54px;
          line-height: 56px;
        }
        .jumbotron h2 {
          margin-top:37px !important;
          font-size:23px !important;
          line-height:27px;
          margin-bottom:0px;
        }
        .jumbotron h3 {
          font-size:23px !important;
        }  
        .jumbotron{
          margin-top: 10em;
        }
        .submission{
          margin-top: 35px;
        }
        .demo a{
          left: 49%;
          font-size: 16px;
          bottom: -172px;
        }
        form{
            margin-top:33px;
        }
        .content-header{
          padding: 0 9em 0 9em;
        }
    }