// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*Typography*/
.report p {
  color: #000;
  text-align: left;
  font-size: 22px;
  line-height: 1.6;
}
.report {
  background: rgba(52, 152, 219, 0.17);
}

.report .jumbotron{
  background: #de6161;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2657eb, #de6161);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, rgba(40, 89, 235, 0.75), #de6161), image-url('5.jpg') no-repeat center center fixed; ; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
margin-bottom: 2em;
 color: #fff;
}

.report .jumbotron p, h2{
  text-align:center;
  color: #fff;
}

.report h3, h1{
   padding-bottom: 1em;
}
.report h3{
  color: #d35400;
}
/*Alignment*/
/*Colors*/
.white {
  background-color: #fff !important;
}
/*Bootstrap*/
.well {
    background-color: #fff !important;
}

.bordered {
    border-bottom: 1px solid #ecf0f1;
}