<h3 class="bordered"><%= image_tag("star.png", size: "64x64")%> &nbsp; Congratulations your website is <i>uber</i> fast! </h3>
             
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Beatae veniam repellendus facere voluptatibus explicabo sapiente asperiores quasi 
  architecto accusantium non exercitationem facilis sequi natus officiis iste tempora, 
  eaque, excepturi expedita.</p>
  
<h3 class="bordered"><%= image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do?</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
    Beatae veniam repellendus facere voluptatibus explicabo sapiente asperiores quasi 
    architecto accusantium non exercitationem facilis sequi natus officiis iste tempora, 
    eaque, excepturi expedita.</p>  