<h3 class="bordered"><%= image_tag("star.png", size: "64x64")%> &nbsp; Congratulations your website is <i>uber</i> fast! </h3>
             
  <p> Having a fast website is key to getting and keeping cusotmers interested in what you have to say. 
  Most probably your customers never complained that your website is slow. 
  </p>
  
<h3 class="bordered"><%= image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do now?</h3>
      <p>Whatever you're doing keep up the good work! Your website is fast and you should be proud. 
      Even though your website loads very fast, you should periodically check its loading time. A few good
      resources <%=link_to 'GTmetrix', 'https://gtmetrix.com/'%> and <%=link_to 'Pingdom', 'https://tools.pingdom.com/'%>.
      </p>  