<h3 class="bordered"><%= image_tag("trophy.png", size: "64x64")%> &nbsp; Congratulations your website is mobile-friendly </h3>
             
  <p>Having a mobile-friendly website is especially key to getting new customers interested in what you have to say. 
  Most probably your visitors never complained that your website is not visible on mobile or left your page because of this. </p>
  
<h3 class="bordered"><%= image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do?</h3>
    <p>Keep up the good work! Your website is visible on smaller screens!</p>  