<h3 class="bordered"><i class="fa fa-warning fa-2x"></i> &nbsp; Your website is hard to read on mobile </h3>
             
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Beatae veniam repellendus facere voluptatibus explicabo sapiente asperiores quasi 
  architecto accusantium non exercitationem facilis sequi natus officiis iste tempora, 
  eaque, excepturi expedita.</p>
  
  <h3 class="bordered"><i class="fa  fa-question-circle-o  fa-2x "></i> &nbsp; Ok, so what should I do?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Beatae veniam repellendus facere voluptatibus explicabo sapiente asperiores quasi 
  architecto accusantium non exercitationem facilis sequi natus officiis iste tempora, 
  eaque, excepturi expedita.</p>