<h3 class="bordered"><%= wicked_pdf_image_tag("close.png", size: "64x64")%> &nbsp; Your website is hard to read on mobile </h3>
             
  <p>Ooops! Your website is not readable on mobile devices! Some 60% of your visitors 
  probably left your webiste and will likely never return 
  because it was not easy for them to read the content on their phones.<br><br>
  And it's no wonder. This year, nearly 80% of internet usage will be mobile</p>
  
  <h3 class="bordered"><%= wicked_pdf_image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do?</h3>
    <p>Make this one of your next priorities. What's the fastest way? 
    <br>
    <br>
    Unfortunately this is not a straight-forward process and requires some of your time. 
    You could either hire a proffesional or research it on your own.
    <br>
    <br>
    One of the best places to start is the article at 1stwebdesigner, 
    which shows you 
    <%= link_to 'how to make a website responsive in just 15 minutes.' ,'https://1stwebdesigner.com/responsive-website-tutorial/', target: "_blank" %>
    </p>