<h3 class="bordered"><%= wicked_pdf_image_tag("close.png", size: "64x64")%> &nbsp; Your website is hard to read on mobile </h3>
             
  <p>Ooops! Your website is not readable on mobile devices! Some 60% of your visitors 
  probably left your webiste and will likely never return 
  because it was not easy for them to read the content on their phones.<br><br>
  And it's no wonder. This year, nearly 80% of internet usage will be mobile</p>
  
  <h3 class="bordered"><%= wicked_pdf_image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do?</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Beatae veniam repellendus facere voluptatibus explicabo sapiente asperiores quasi 
  architecto accusantium non exercitationem facilis sequi natus officiis iste tempora, 
  eaque, excepturi expedita.</p>