<h3 class="bordered"><%= image_tag("close.png", size: "64x64")%></i> &nbsp; Your website loaded in <%= @speed %> seconds</h3>
              
  <p>Ooops! Your website took its sweet time to load. Why is this bad? 
  Nearly half of your visitors left your website faster than you can say "Check, please!".<br><br>
  Studies show that 40% of internet users abandon a website if it takes longer than 3 seconds to load and 
  a second delay increases customer disatisfaction by 16 %.
  </p>
  
<h3 class="bordered"><%= image_tag("chat.png", size: "64x64")%> &nbsp; Ok, so what should I do?</h3>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
  Beatae veniam repellendus facere voluptatibus explicabo sapiente asperiores quasi 
  architecto accusantium non exercitationem facilis sequi natus officiis iste tempora, 
  eaque, excepturi expedita.</p>