<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h1 class ="text-center">Generate Report For <span class ="uppercase"><%= @contact.url %></span></h1>
    <div class="well">
    <%= render 'form' %>
    </div>
  </div>
</div>  